<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/custom.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="{{ '/assets/js/filter.js' | relative_url }}" defer></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | escape }}</a></h1>
        <p>{{ site.description | escape }}</p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p style="text-align: center;">
          <span id="busuanzi_container_site_uv">
            Total Visitors: <span id="busuanzi_value_site_uv"></span>
          </span>
          | 
          <span id="busuanzi_container_site_pv">
            Total Page Views: <span id="busuanzi_value_site_pv"></span>
          </span>
        </p>
      </footer>
    </div>

    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  </body>
</html>